@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  src: url("../../fonts/SourceSerifPro-Regular.otf") format("otf"), url("../../fonts//SourceSerifPro-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Source Serif Pro";
  font-weight: 600;
  src: url("../../fonts/SourceSerifPro-Semibold.otf") format("otf"), url("../../fonts//SourceSerifPro-Semibold.ttf") format("ttf");
}
@font-face {
  font-family: "Source Serif Pro";
  font-weight: 700;
  src: url("../../fonts/SourceSerifPro-Bold.otf") format("otf"), url("../../fonts//SourceSerifPro-Bold.ttf") format("ttf");
}
html {
  font-family: "Source Serif Pro";
  font-size: 16px;
  background-color: #FEF5EA;
  color: #5E5E5E;
}

a,
a:link,
a:visited {
  transition: color 0.15s linear;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #EF2F7C;
}

ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  background-color: inherit;
  transition: color 0.15s linear;
  cursor: pointer;
}
button svg {
  display: block;
}
button.default-btn {
  position: relative;
  padding: 1.125rem 3rem;
  border: 2px solid #EF2F7C;
  font-size: 0.875rem;
  font-weight: 600;
  transition: color 0.6s linear;
  z-index: 0;
}
button.default-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
button.default-btn:hover {
  color: #FFFFFF;
}
button.default-btn:hover::before {
  animation: 0.6s linear backgroundFillIn forwards;
}

@keyframes backgroundFillIn {
  from {
    width: 0%;
  }
  to {
    width: 100%;
    background-color: #EF2F7C;
  }
}
@keyframes backgroundFillOut {
  from {
    width: 100%;
    background-color: #EF2F7C;
  }
  to {
    width: 0%;
  }
}
h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.1825rem;
}

input {
  padding: 0.5rem 0 0.5rem 1.5rem;
  color: #5E5E5E;
  background-color: #F5C3D5;
  border: 0;
  border-top: 2px solid #FFFFFF;
  font-size: 16px;
}
input:focus, input:active {
  border: 0;
  border-top: 2px solid #FFFFFF;
  outline: none;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  padding-inline: clamp(1.25rem, 2.4dvw, 5rem);
}
section:not(.main) {
  padding-block: 1rem;
  text-align: center;
  border-bottom: 2px solid #5E5E5E;
}

.grid-area {
  grid-area: 1/1/2/4;
}

@media screen and (min-width: 743px) {
  section {
    grid-template-columns: repeat(12, 1fr);
    padding-inline: 5rem;
  }
  .grid-area {
    grid-area: 1/1/2/13;
  }
}
@media screen and (min-width: 1439px) {
  section {
    padding-inline: 12.5rem;
  }
  .grid-area {
    grid-area: 1/1/2/13;
  }
}
:root {
  --swiper-theme-color: #EF2F7C;
  --swiper-navigation-sides-offset: -2.5rem;
  --swiper-navigation-color: #EF2F7C;
  --swiper-pagination-color: #EF2F7C;
  --swiper-pagination-bullet-size: 0.75rem;
  --swiper-pagination-bullet-width: 0.75rem;
  --swiper-pagination-bullet-height: 0.75rem;
  --swiper-pagination-bottom: -2.5rem;
  --swiper-pagination-bullet-inactive-color: #FCE3EC;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

.swiper {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-button-prev::after {
  content: url("../images/arrow-right.svg");
}

.swiper-button-next::after {
  content: url("../images/arrow-left.svg");
}

@media screen and (min-width: 743px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
}
.up_btn-box,
.call_btn-container,
.call_btn-box {
  position: relative;
}

.up_btn,
.call_btn {
  position: fixed;
  bottom: 1.25rem;
  padding: 0.5rem;
  background-color: #EF2F7C;
  z-index: 100;
}

.up_btn {
  width: 3rem;
  height: 3rem;
  left: 1.25rem;
  border-radius: 25px;
  animation: 1.25s linear buttonRotate infinite alternate;
}

.call_btn {
  width: 3.5rem;
  height: 3.5rem;
  right: 1.25rem;
  border-radius: 1.75rem;
  animation: 1.25s linear buttonScale infinite alternate;
}

@keyframes buttonScale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes buttonRotate {
  from {
    transform: rotateZ(-10deg);
  }
  to {
    transform: rotateZ(10deg);
  }
}
@media screen and (min-width: 743px) {
  .up_btn {
    left: 1.5rem;
  }
  .call_btn {
    right: 1.5rem;
  }
}
@media screen and (min-width: 1439px) {
  .up_btn {
    left: 3rem;
  }
  .call_btn {
    right: 3rem;
  }
}
.call_modal {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 280px;
  height: 337px;
  bottom: 5rem;
  right: 1.25rem;
  padding: 1.5rem 1rem;
  background-color: #FCE3EC;
  border: 2px solid #EF2F7C;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 2;
}
.call_modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.call_modal .default-btn {
  width: -moz-fit-content;
  width: fit-content;
}

.call_modal.active {
  display: flex;
}

@media screen and (min-width: 743px) {
  .call_modal {
    right: 5rem;
  }
}
@media screen and (min-width: 1439px) {
  .call_modal {
    right: 6.5rem;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 2.5rem;
  font-size: 19px;
  font-weight: 600;
}

.mobile_menu-box {
  display: block;
}

.mobile_menu-modal {
  display: none;
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 100dvw;
  padding-block: 0.5rem;
  background: url(../images/mobile-menu-bg.png) no-repeat, #FCE3EC;
  background-size: cover;
  border: 2px #EF2F7C solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.mobile_menu-modal.active {
  display: block;
}

.mobile_menu-modal_btn-box {
  padding-left: 1.5rem;
}

.mobile_nav {
  padding-top: 0.5rem;
  text-align: center;
  border-top: 2px solid #5E5E5E;
}

.nav-bar {
  display: none;
}

.lang-box {
  display: flex;
  gap: 0.75rem;
  font-family: "Source Serif Pro";
}

.lang-button.lang_active {
  color: #EF2F7C;
  cursor: default;
}
.lang-button:hover {
  color: #EF2F7C;
}

@media screen and (min-width: 743px) {
  header {
    gap: 7.5rem;
  }
  .mobile_nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .mobile_nav-menu {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
  }
}
@media screen and (min-width: 1439px) {
  header {
    gap: 1.5rem;
  }
  .mobile_menu-box {
    display: none;
  }
  .nav-bar {
    display: block;
  }
  .nav-menu {
    display: flex;
    font-family: "Roboto Slab", serif;
    gap: 1.5rem;
  }
}
.main {
  background: url(../images/main-screen-bg.png) no-repeat center, #FCE3EC;
  background-size: cover;
}

.main_screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-block: 1rem;
}

.main-description {
  padding: 0 1.25rem;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 743px) {
  .main_screen.grid-area {
    grid-area: 1/3/2/11;
  }
}
@media screen and (min-width: 1439px) {
  .main_screen.grid-area {
    grid-area: 1/4/2/10;
  }
}
.school {
  display: flex;
  flex-direction: column;
}

.school_title {
  padding-bottom: 1.5rem;
}

.school_description:not(:last-child) {
  margin-bottom: 1rem;
}

.school_image-block {
  position: relative;
  margin-top: 2rem;
  text-align: center;
  z-index: 0;
}
.school_image-block::before {
  position: absolute;
  content: "";
  top: -0.5rem;
  left: -1.25rem;
  width: 100dvw;
  height: 100%;
  background-color: #FCE3EC;
  z-index: -1;
}

.school_image {
  padding-block: 1rem;
}

@media screen and (min-width: 743px) {
  .school {
    display: grid;
  }
  .school_description-block {
    grid-area: 1/2/2/8;
  }
  .school_image-block {
    grid-area: 1/8/2/13;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
  .school_image-block::before {
    width: calc(100% + 6.5rem);
    height: 356px;
    top: -0.5rem;
    left: -1.5rem;
  }
  .school_image {
    height: 340px;
  }
}
@media screen and (min-width: 1439px) {
  .school_image-block::before {
    width: calc(100% + 12.5rem + 1.5rem);
    height: 284px;
    top: -0.5rem;
    left: -1.5rem;
  }
  .school_image {
    height: 268px;
  }
}
.courses_box {
  margin-block: 1.5rem 3rem;
  position: relative;
}

.course_block {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5rem;
  background-color: #FCE3EC;
  border: 2px solid #EF2F7C;
}

.course_img {
  height: 334px;
}

.course_title {
  margin-block: 1rem;
}

.courses_details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: start;
}

.course_detail-text {
  line-height: 0.75rem;
  font-weight: 700;
}/*# sourceMappingURL=index.css.map */